/* Global Styles */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #fff; /* light pink */
  }
  
  h1 {
    text-align: center;
    color: #721c24; /* dark pink */
    margin-top: 50px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Resource Booking Form Styles */
  form {
    background-color: #ff5ea2;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #1d26a3; /* dark pink */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #1d26a3; /* darker pink */
  }
  